@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar untuk tampilan lebih elegan */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f9f3e0;
}

::-webkit-scrollbar-thumb {
  background: #e6b47a;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d99a5c;
}

html {
  scroll-behavior: smooth;
  background-color: #f9f3e0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}