@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for a more premium feel */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f9f3e0;
}

::-webkit-scrollbar-thumb {
  background: #e6b47a;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d99a5c;
}

html {
  scroll-behavior: smooth;
}